* {
  /* Reset margins & box sizing */
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* Colors */
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  background: url(./images/bg-intro-mobile.png);
  background-color: var(--red);
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.main {
  display: grid;
  grid-template-areas: "text-content" "form-content";
  margin: auto 1rem;
  min-width: 345px;
}
.text-card {
  grid-area: text-content;
  color: #fff;
  text-align: center;
  margin: 2rem;
}
.heading {
  line-height: 2rem;
  font-size: 1.5rem;
}
.text-card p {
  font-size: 0.75rem;
  margin: 1rem 0;
}
.form-card {
  grid-area: form-content;
  width: 100%;
  max-width: 450px;
}
.tryit-card {
  background-color: var(--blue);
  padding: 1rem;
  color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 5px 0 hsla(0, 0%, 0%, 0.339);
  margin: 1rem 0;
  text-align: center;
}
.emphasis {
  font-weight: 700;
}
.signup {
  /* position: relative; */
  background-color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  width: 100%;
}
.input-container > input[type="text"],
input[type="email"],
input[type="password"],
button {
  display: block;
  width: 100%;
  padding: 1rem;
  border-style: solid;
  border-radius: 0.2rem;
  font-weight: 700;
  color: var(--grayish-blue);
  outline: none;
}
/* input[type="text"]:focus {
  border-color: var(--red);
  box-shadow: 0 0 8px 0 var(--red);
} */
.input-container {
  position: relative;
  margin-bottom: 1rem;
}
.input-container.success input {
  border: 1px solid black;
  outline: none;
}
.input-container.error input {
  border: 2px solid red;
  box-shadow: 0 0 8px 0 var(--red);
}
.input-container [role="alert"] {
  visibility: hidden;
}
.input-container.error [role="alert"] {
  visibility: visible;
}
.input-container.error .icon {
  visibility: visible;
}
.icon {
  position: absolute;
  padding: 0.75rem;
  min-width: 40px;
  right: 0;
  visibility: hidden;
}

[role="alert"] {
  margin: 0 0.5rem;
  display: block;
  /* width: 100%; */
  text-align: right;
  font-style: italic;
  font-size: 1rem;
  color: var(--red);
}
#nameError.visible {
  display: block;
}
/* .input.invalid {
  border-color: red;
} */
.submit {
  background-color: var(--green);
  padding: 1rem;
  text-transform: uppercase;
  color: #fff;
  border-radius: 0.5rem;
  font-family: inherit;
  cursor: pointer;
}
.terms {
  border: none !important;
  font-size: 0.6rem;
  text-align: center;
}
.signup a {
  color: var(--red);
  text-decoration: none;
}
.attribution {
  margin-top: 1rem;
  color: #fff;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 600px) {
  .main {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "text-content form-content";
  }
  .heading {
    line-height: 3rem;
    font-size: 3rem;
  }
  .heading {
    display: flex;
    align-items: center;
    padding: 1rem;
  }
  .text-card {
    grid-area: text-content;
    display: grid;
    place-content: center;
    text-align: left;
    padding: 2rem;
  }
  .text-card p {
    display: flex;
    align-items: center;
    padding: 1rem;
    font-size: 1rem;
    word-break: initial;
  }
  .signup {
    padding: 2rem;
  }
  .form-card {
    grid-area: form-content;
    max-width: 540px;
  }
}
